services:
  frontend:
    container_name: agencia-codigo-front
    build:
      context: .
      dockerfile: Dockerfile
      target: development 
    # Hot-Reload no Windows:
    environment:
      - WATCHPACK_POLLING=true
      - NODE_ENV=development
    volumes:
      - .:/app
      - /app/node_modules 
      - /app/.next 
    ports:
      - "3000:3000"
    restart: always